asgiref==3.11.1
cffi==2.0.0
cryptography==48.0.0
Django==6.0.5
djangorestframework==3.17.1
google-auth==2.52.0
psycopg2-binary==2.9.12
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
python-dotenv==1.2.2
sqlparse==0.5.5
drf-spectacular>=0.27.0
requests